# Virtual environment
venv/

# Python cache
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Environment files
.env
*.env

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# IDE / Editor configs
.vscode/
.idea/

# Logs
*.log
